.comics__container {
    padding-bottom: 20px;
    
    @include respond-to(mobile) {
        .ant-row {
            margin: 0 !important;
            > div {
                margin-bottom: 13px;
            }

            &:not(:nth-child(3)) {
                > div:nth-child(odd) {
                    &:not(.big) {
                        padding-right: 6.5px;
                    }
                }
                > div:nth-child(even) {
                    &:not(.big) {
                        padding-left: 6.5px;
                    }
                }
            }
            
            &:nth-child(3) {
                > div:nth-child(2) {
                    padding-right: 6.5px;
                }
                > div:nth-child(3) {
                    padding-left: 6.5px;
                }
            }
        }
    }
}